<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, "名前", style: "display: block" %>
    <%= form.text_field :name, class: "form-control", placeholder: "名前を入力してください" %>
  </div>

  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <div>
      <%= form.label :stand_image, "立ち画像(左から右へいく画像を使用してください)", style: "display: block" %>
      <%= form.file_field :stand_image, class: "form-control", accept: 'image/*' %>
    </div>
    
      <% if @user.stand_image.present? %>
        <%= image_tag @user.stand_image.url, id: 'img_stand', width: '100px', alt: 'Stand Image', crossorigin: 'anonymous' %>
      <% else %>
        <%= image_tag 'stand.png', id: 'img_stand', width: '100px', alt: 'Stand Image', crossorigin: 'anonymous' %>
      <% end %>
  </div>

  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <div>
      <%= form.label :fly_image, "飛び出し画像(地面から足は浮いた瞬間の画像)　　", style: "display: block" %>
      <%= form.file_field :fly_image, class: "form-control", accept: 'image/*' %>
    </div>
    
      <% if @user.fly_image.present? %>
        <%= image_tag @user.fly_image.url, id: 'img_fly', width: '100px', alt: 'Fly Image', crossorigin: 'anonymous' %>
      <% else %>
        <%= image_tag 'fly.png', id: 'img_fly', width: '100px', alt: 'Fly Image', crossorigin: 'anonymous' %>
      <% end %>
  </div>

  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <div>
      <%= form.label :land_image, "着手画像(手に体重が乗った瞬間の画像)　　　　　", style: "display: block" %>
      <%= form.file_field :land_image, class: "form-control", accept: 'image/*' %>
    </div>
      <% if @user.land_image.present? %>
        <%= image_tag @user.land_image.url, id: 'img_land', width: '100px', alt: 'Land Image', crossorigin: 'anonymous' %>
      <% else %>
        <%= image_tag 'land.png', id: 'img_land', width: '100px', alt: 'Land Image', crossorigin: 'anonymous' %>
      <% end %>
  </div>

  <div>
    <%= form.hidden_field :stand_image_cache %>
    <%= form.hidden_field :fly_image_cache %>
    <%= form.hidden_field :land_image_cache %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
