<p style="color: green"><%= notice %></p>

<%= render 'name', user: @user %>

<%= render 'pose/pose_button' %>


<div>
  <%= link_to "名前、写真編集", edit_user_path(@user) %> |
  <%= link_to "診断一覧へ", users_path %>

  <%= button_to "診断を消去", @user, method: :delete %>
</div>

