<p style="color: green"><%= notice %></p>

<%= render 'name', user: @user %>

<%= render 'pose/pose_button' %>
<%= render 'pose/pose_direction' %>
<div id="pose-score" style="display: none;">
  <%= render 'pose/pose_score' %>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>

