<p class="text-green-500"><%= notice %></p>

<%= render 'name', user: @user %>
<%= render 'pose/pose_button' %>

<div class="mt-5"></div>

<div>
  <%= link_to t('common.edit'), edit_user_path(@user), class: "bg-blue-500 text-white py-2 px-4 rounded mr-2 mt-5" %> |
  <%= link_to t('common.back_to_index'), users_path, class: "bg-blue-500 text-white py-2 px-4 rounded mr-2 mt-5" %>

  <%= button_to t('common.delete'), @user, method: :delete, class: "bg-red-500 text-white py-2 px-4 rounded mt-4" %>
</div>
